@page
@model MyApp.Namespace.IndexModel
@{
}
<h1>Greetings @ViewBag.username!</h1>
<p>
    <a asp-controller="User" asp-action="Add">Add User</a>
</p>

<!-- { -->
    <!-- <table class="table">
        <tr>
            <th>
                ID
            </th>
            <th>
                UserName
            </th>
            <th>
                Email
            </th>
        </tr>
    </table> -->

<!-- } -->